pkgbase = wireguard-gui-bin
	pkgdesc = A wireguard client GUI for Linux made with nextauri.
	pkgver = 0
	pkgrel = 1
	url = https://github.com/0xle0ne/wireguard-gui
	arch = x86_64
	license = MIT
	provides = wireguard-gui-bin
	conflicts = wireguard-gui
	options = !strip
	source_x86_64 = wireguard-gui-0.AppImage::https://github.com/0xle0ne/wireguard-gui/releases/download/0-stable/wireguard-gui_0_amd64.AppImage
	sha256sums_x86_64 = alkdhfglkahsgd

pkgname = wireguard-gui-bin
